@import url('fontspage.css');
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #000;
	text-rendering: optimizeLegibility;
	/*background: #f9f9f9;*/
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
a {
    color: #000;
    text-decoration: none;
}
.page-header {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border-bottom: none;
	background: #e8e8e8;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #d0dcdc;
    border-right: 1px solid #d0dcdc;
    border-left: 1px solid #d0dcdc;
}
.page-header h1 {
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #000;
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 40px;
}
.breadcrumb {
	display: inline-block;
	background: none;
	margin: 0;
	padding: 0 10px;
	display: none;
}
.breadcrumb li a {
	color: #ff7f00;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
}
.breadcrumb li:last-child a {
	color: #3ba1f5;
}
.breadcrumb li a:hover {
	text-decoration: none;
}
.breadcrumb li + li:before {
	content: "/";
	font-family: FontAwesome;
	color: #BBBBBB;
	padding: 0 5px;
}
a:hover, a:focus {
	text-decoration: none;
}
/* fix for bootstrap hidden and visible */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
#container {
	min-height: 100%;
	width: 100%;
	position: relative;
}
.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}
#header {
	min-height: 0px;
	background: #465a65;
	border-bottom: 1px solid #E5E5E5;
	margin: 0;
	padding: 0;
}
#header .nav {
	margin-top: 20px;
	margin-right: 20px;
}
#header .nav > li {
	float: left;
}
#header .nav > li li {
	min-width: 200px;
}
#header .navbar-header {
	min-height: 0px;
	padding: 0;
}
/* Mobile */
@media (max-width: 767px) {
	#header .navbar-header {
		margin-right: 0px;
		margin-left: 0px;
		float: left;
	}
}
#header #button-menu + .navbar-brand {
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	height: auto;
}
#header .nav > li > a {
	padding: 3px 25px;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    background: #3ba1f5;
    border-radius: 5px;
    transition: all 0.5s ease;
}
#header .nav > li > a:hover {
    background: #2c89d6;
}
#header .nav > li > a > .label {
	text-shadow: none;
	padding: 1px 4px;
	position: absolute;
	top: 8px;
	left: 6px;
}
#button-menu {
	padding: 10px 17px 9px 17px;
	line-height: 25px;
	float: left;
	display: inline-block;
	cursor: pointer;
	color: #6D6D6D;
	border-right: 1px solid #E1E1E1;
	height: 86px;
}
#profile {
	display: none;
}
#column-left.active #profile {
	display: block;
	padding: 10px 15px 10px 15px;
	overflow: auto;
	border-bottom: 1px solid #585858;
}
#profile div {
	float: left;
	color: #C4C4C4;
}
#profile div i {
	font-size: 42px;
	color: #2ca5d3;
}
#profile div + div {
	margin-left: 15px;
}
#profile h4 {
	margin-top: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FFF;
	margin-bottom: 0;
}
#column-left {
	width: 50px;
	height: 100%;
	background-color: #f8f8f8;
	position: absolute;
	top: 0px;
	padding-top: 86px;
	z-index: 10;
	transition: all 0.3s;
}
#column-left.active {
	width: 235px;
	display: block;
}
#content {
	padding-bottom: 40px;
	transition: all 0.3s;
	background: #ebeff2;
	padding-top: 20px;
}
#column-left + #content {
	margin-left: 50px;
}
#column-left + #content + #footer {
	margin-left: 50px;
}
/* Mobile */
@media (max-width: 767px) {
#column-left {
	overflow: hidden;
	display: none;
}
#column-left + #content {
	margin-left: 0;
}
#column-left + #content + #footer {
	margin-left: 0;
}
}
/* Menu */
#menu, #menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu {
	margin-bottom: 25px;
	padding-top: 10px;
}
#menu > li {
	position: relative;
	padding-left: 10px;
    padding-right: 10px;
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
}
#menu li a.parent .fa{
	color: #51565c;
}
#menu li a i {
	font-size: 16px;
}
#menu > li > a {
	color: #0d0d0d;
	font-size: 13px;
	padding-left: 13px;
	font-weight: bold;
}
#menu > li > a:hover {
	color: #fff;
    background: #ffb751;
    border: 1px solid #f39d22;
    text-transform: uppercase;
}
#menu > li > a:hover.parent .fa {
	color: #fff;
}
#menu > li > a > span {
	display: none;
	margin-left: 8px;
}
#menu li li a {
	color: #000;
	font-size: 13px;
    font-weight: bold;
}
#menu li li a:hover {
	color: #000000;
    background-color: #f8f8f8;
}
#menu li li a:before {
	content: "\f101";
	font-size: 14px;
	font-family: FontAwesome;
	margin-left: 10px;
	margin-right: 10px;
	transition: margin ease 0.5s;
}

#menu li li li a:before {
	content: "\f22d";
	font-size: 14px;
	font-family: FontAwesome;
	margin-left: 10px;
	margin-right: 10px;
	transition: margin ease 0.5s;
}

#menu li li a:hover:before {
	margin-right: 20px;
}
#menu > li.active > a {
	color: #fff;
    background: #ffb751;
    border: 1px solid #f39d22;
    text-transform: uppercase;
}
#menu > li.active > a.parent .fa {
	color: #fff;
}
#menu li.active li a {
	color: #000;
}
#menu li.active li a:hover {
	color: #000000;
    background-color: #f8f8f8;
}
#menu li li.active > a:last-child {
	color: #fff;
    background: #ffb751;
}
#menu li li.active a:last-child:before {
	margin-left: 20px;
	margin-right: 10px;
}
#menu > li > ul {
	position: absolute;
	left: 50px;
	top: 0px;
	width: 210px;
    border-radius: 0px;
    border: 1px solid #ffb751;
	visibility: hidden;
}
#menu li ul {
	overflow: hidden;
}
#menu > li:hover > ul {
	visibility: visible;
}
#menu li li a.parent:after, #column-left.active #menu > li a.parent:after {
	font-family: FontAwesome;
	content: "\f105";
	float: right;
	margin-right: 8px;
}
#menu li li.open > a.parent:after, #column-left.active #menu > li.open > a.parent:after, #column-left.active #menu > li li.open > a.parent:after {
	font-family: FontAwesome;
	content: "\f107";
	float: right;
	margin-right: 8px;
}


#menu li ul a {
	padding-left: 10px;
}
#menu li li ul a {
	padding-left: 20px;
}
#menu li li li ul a {
	padding-left: 20px;
}
#menu li li li li ul a {
	padding-left: 20px;
}

/* Menu Active */
/* Desktop */
@media (min-width: 768px) {
#column-left.active {
	overflow: auto;
}
#column-left.active::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #a17322;
}
#column-left.active::-webkit-scrollbar {
	width: 8px;
	background-color: #4a3628;
}
#column-left.active::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4a3628;
	height: 30px;
}
#column-left.active + #content {
	margin-left: 235px;
}
#column-left.active + #content + #footer {
	margin-left: 235px;
}
}
/* Mobile */
@media (max-width: 767px) {
#column-left.active + #content {
	position: relative;
	left: 235px;
}
#column-left.active + #content + #footer {
	position: relative;
	left: 235px;
}
}
#column-left.active {
	width: 235px;
}
#column-left.active #menu li i {
	font-size: 16px;
}
#column-left.active #menu > li > a > span {
	display: inline;
}
#column-left.active #menu > li > ul {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	visibility: visible;
}
/* footer */
#footer {
	height: 100px;
	text-align: center;
	background: #465a65;
	color: #fff;
	padding-top: 22px;
    font-size: 13px;
    font-weight: bold;
}
#footer a {
	color: #fff;
}
/* Navs */
.nav > li.disabled > a {
	color: #999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	color: #999;
}
/* Tabs */
.nav-tabs > li > a {
	color: #000;
	border-radius: 2px 2px 0 0;
	background: #e2e2e2;
	border: 1px solid #cccccc;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs {
	margin-bottom: 25px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-weight: bold;
	color: #333;
	border-bottom-color: #cccccc;
}
.form-control:hover {
	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
div.required .control-label:not(span):before, td.required:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}
fieldset legend {
	padding-bottom: 5px;
}

input[type="radio"], input[type="checkbox"] {
	margin: 2px 0 0;
}
.radio, .checkbox {
	min-height: 18px;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: relative;
	width: 13px;
	width: 16px \0;
	height: 13px;
	height: 16px \0;
	-webkit-appearance: none;
	background: white;
	border: 1px solid #dcdcdc;
	border: 1px solid transparent \0;
	border-radius: 1px;
}
input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
	border-color: #4d90fe;
	outline: 0;
}
input[type="radio"]:active, .radio input[type="radio"]:active, .radio-inline input[type="radio"]:active, input[type="checkbox"]:active, .checkbox input[type="checkbox"]:active, .checkbox-inline input[type="checkbox"]:active {
	background-color: #ebebeb;
	border-color: #c6c6c6;
}
input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
	background: #fff;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	width: 15px;
	width: 18px \0;
	height: 15px;
	height: 18px \0;
	border-radius: 1em;
}
input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
	position: relative;
	top: 3px;
	left: 3px;
	display: block;
	width: 7px;
	height: 7px;
	content: '';
	background: #666;
	border-radius: 1em;
}
input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {
	border-color: #c6c6c6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	-webkit-box-shadow: none \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: none \9;
}
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
	position: absolute;
	top: -6px;
	left: -5px;
	display: block;
	content: url('../image/checkmark.png');
}

.table thead td {
	font-weight: bold;
}
.table thead > tr > td, .table tbody > tr > td {
	vertical-align: middle;
}
.table a.asc:after {
	content: " \f107";
	font-family: FontAwesome;
	font-size: 14px;
}
.table a.desc:after {
	content: " \f106";
	font-family: FontAwesome;
	font-size: 14px;
}

.pagination {
	margin: 0;
}
.form-group {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.form-group + .form-group {
    border-top: 1px solid #ededed;
}
/* Panels */
.panel {
	border-radius: 0px;
}
.panel .panel-heading {
	position: relative;
}
.panel-heading h3 i {
	margin-right: 8px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.panel-heading i {
	font-size: 16px;
	font-weight: 500;
}
.panel-heading h3 {
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
}

/* Primary Panel */
.panel-primary {
	border: 1px solid #c3e4f6;
	border-top: 2px solid #5cb7e7;
}

.panel-primary .panel-heading {
	color: #1e91cf;
	border-color: #96d0f0;
	background: white;
}


/* Default Panel */
.panel-default {
	border: 1px solid #d0dcdc;
	border-top: 1px solid transparent;
	padding-left: 20px;
    padding-right: 20px;
}

.panel-default .panel-heading {
	color: #000;
	border-color: #e8e8e8;
	background: #fff;
}
.img-thumbnail i {
	color: #FFFFFF;
	background-color: #EEEEEE;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	vertical-align: middle;
	display: inline-block;
}
.img-thumbnail.list i {
	width: 40px;
	height: 40px;
	padding-top: 10px;
}
/* Tiles */
.tile {
	margin-bottom: 15px;
	border-radius: 3px;
	background-color: #279FE0;
	color: #FFFFFF;
	transition: all 1s;
}
.tile:hover {
	opacity: 0.95;
}

.tile a {
	color: #FFFFFF;
}
.tile-heading {
	padding: 5px 8px;
	text-transform: uppercase;
	background-color: #1E91CF;
	color: #FFF;
}
.tile .tile-heading .pull-right {
	transition: all 1s;
	opacity: 0.7;
}
.tile:hover .tile-heading .pull-right {
	opacity: 1;
}
.tile-body {
	padding: 15px;
	color: #FFFFFF;
	line-height: 48px;
}
.tile .tile-body i {
	font-size: 50px;
	opacity: 0.3;
	transition: all 1s;
}
.tile:hover .tile-body i {
	color: #FFFFFF;
	opacity: 1;
}
.tile .tile-body h2 {
	font-size: 42px;
}
.tile-footer {
	padding: 5px 8px;
	background-color: #3DA9E3;
}
#column-left.active #stats {
	display: block;
}
#stats {
	display: none;
	border-radius: 2px;
	color: #666666;
	background: #2b2b2b;
	margin: 15px 20px;
	padding: 5px 0;
}
#stats ul, #stats li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#stats li {
	font-size: 11px;
	color: #9d9d9d;
	padding: 5px 10px;
	border-bottom: 1px dotted #373737;
}
#stats div:first-child {
	margin-bottom: 4px;
}
#stats .progress {
	height: 3px;
	margin-bottom: 0;
}
.jqvmap-label {
	z-index: 999;
}
.alert {
	overflow: auto;
}

/* Menu Fix For System -> Layout -> Banner */
.collapse.in {
    display: block;
    visibility: unset;
}
.collapse {
    display: none;
    visibility: unset;
}
/* Menu Fix For System -> Layout -> Banner */
.btn-primary, .btn-default, .btn-danger, .btn-warning, .btn-info {
	margin-top: 2px;
}
.navbar-brand {
    height: auto;
}
.btn-key-admin {
	padding: 3px 25px;
    line-height: 38px;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.page-login {
	height: 585px;
	background: url('../image/anti.png') no-repeat 215px 91px #ebeff2 !important;
	background-size: 250px !important;
}
.panel-title {
    font-size: 20px;
}
.panel-title .fa-sign-in {
    font-size: 20px;
}
.input-group-addon {
	background: #fff;
}
/*** module sale home ***/
.statistical {
	margin-bottom: 0;
    border-bottom: 0;
}
.boxsale-home {
	font-size: 13px !important;
	font-weight: bold !important;
}
.boxsale-home a {
	color: #0101ed;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
}
.boxsale-home a:hover {
	text-decoration: none;
}
table.tablesale-home {
	border-left: 2px solid #6989b8 !important;
	border-top: 2px solid #6989b8 !important;
	border-right: 2px solid #6989b8 !important;
	border-bottom: 2px solid #6989b8 !important;
}
table.tablesale-home thead tr {
	background: #cbdffa;
	color: #000;
}
table.tablesale-home thead tr td {
	border-right: 1px solid #6989b8;
	border-bottom: 1px solid #6989b8;
	border-top: 1px solid #6989b8 !important;
}
table.tablesale-home tbody tr td {
	border-right: 1px solid #6989b8;
	border-bottom: 1px solid #6989b8;
	border-top: 1px solid #6989b8 !important;
}
.boxsalelast-home {
	padding-bottom: 15px;
}
.bdbn {
	border-bottom: none;
}
.navproduct-home {
	margin-bottom: 10px;
	padding-left: 20px;
    background: #f8f8f8;
}
.pdproduct-home {
	padding-left: 0;
	padding-right: 0;
	border-top: 1px solid #d0dcdc;
}
.navproduct-home > li > a {
    padding: 4px 15px;
    margin-top: 10px;
    border-radius: 0;
    margin-right: 5px;
    font-size: 13px;
}
.tab-content {
	padding-right: 5px;
    padding-left: 5px;
}
/*** module product home ***/
table.tableproduct-home thead tr {
    background: #eeeeee;
    color: #000;
}
table.tableproduct-home thead tr td {
    padding: 5px;
    border: 1px solid #cdcdcd !important;
}
.iconfa {
	height: 30px;
    width: 30px;
    display: inline-flex;
    text-align: center;
    background: #fc9036;
    border-radius: 100%;
}
.iconfa .fa-home {
	line-height: 30px;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
}
.iconfa .fa-credit-card {
	line-height: 30px;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
}
.dtproduct-home {
	color: #0101ed;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
}
.dtproduct-home:hover {
    text-decoration: none;
    color: #0101ed;
}
.mtbuttonn {
	margin-top: 0;
}
.input-group-addon:first-child {
    background: #e8e8e8;
}
.btn-filter {
    color: #6e9ad9;
    background-color: #fcfcfc;
    border-color: #cccccc;
}
.mgrow-product {
	margin-bottom: 10px;
}
.formgroup-product {
	border-top: 1px solid #ededed;
}
.controllabel-product {
	text-align: left !important;
}

/*bo sung*/
.wrap-catnav{
	margin-top: 35px;
	padding-left: 0;
}


.ul-lv2{
	display: none;
}

.nav-block> .ul-lv2{
	border: 1px solid #cccccc;
	margin-bottom: 0px;
}

.nav-block a{
	border-radius: 0!important;
	border-bottom: none;
	color: #000000;
}

.nav-block a:hover{
	color: #00afee;
}

.nav-block:last-child>a{
	border-bottom: 1px solid #cccccc;
}

.nav-plus{
	padding: 10px 10px;
	margin-left: -15px;
}

.li-parent .nav-plus{
	padding-right: 5px;
	margin-left: -28px;
}

.nav-block ul li{
	padding: 3px 0px;
}

.child-active{
	color: #1e91cf!important;
}

.li-parent{
	list-style: none;
}

.li-parent a{
	border: none!important;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}